<mat-divider></mat-divider>
<div class="actions-toolbar">
  <div>
    <button mat-button (click)="selectAll()">Select all</button>
    <button
      [disabled]="!selectedUsers.length"
      mat-button
      (click)="deleteUsers()"
    >
      Delete
    </button>
    <button class="sort-btn" mat-button [matMenuTriggerFor]="menu">
      Sorting order
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="sortUsers('ascending')" mat-menu-item>A-Z</button>
      <button (click)="sortUsers('descending')" mat-menu-item>Z-A</button>
    </mat-menu>
  </div>
  <app-search
    [placeholder]="searchPlaceholder"
    (searchValueChanged)="onSearchValueEntered($event)"
  ></app-search>
</div>
<mat-divider></mat-divider>

<div class="container">
  <app-add-user-form></app-add-user-form>
  <div class="gallery">
    <div *ngFor="let user of users">
      <div
        *ngIf="
        searchValue === '' ||
        user.username.toLowerCase().includes(searchValue.toLowerCase()) ||
        user.name.toLowerCase().includes(searchValue.toLowerCase()) ||
        user.email.toLowerCase().includes(searchValue.toLowerCase()) ||
        user.phone.toLowerCase().includes(searchValue.toLowerCase())
      "
      >
        <app-usercard
          [user]="user"
          (userSelected)="onUsersSelected($event)"
          [checked]="isAllSelected"
        ></app-usercard>
      </div>
    </div>
  </div>
</div>

